<div class="wrap-add-edit-book" edit-directive>
	<h2>Edit</h2>
	<form  ng-submit="changeBook()">
		<input type="text" ng-model="book.author" placeholder="author" />
		<input type="text" ng-model="book.title" placeholder="Title" />
		<textarea name cols="50" rows="15" ng-model="book.description" placeholder="Description"></textarea>
	    <select ng-model="book.status">
	        <option value="true">on</option>
	        <option value="false">off</option>
	    </select>
		<input type="reset" value="Cancel" />
		<input type="submit" value="Submit" />
	</form>
</div>